<h1>Lightroom Analysis</h1>

<ul>
  <li><%= AdobeImage.count %> images in <%= AgLibraryFolder.count %> folders.</li>
  <li><%= @video_files %> video files.</li>
  <li><%= @flashed_images %> images shot using flash.</li>
  <li><%= AgLibraryKeyword.count %> keywords with <%= AgLibraryKeywordImage.count %> occurrences.</li>
</ul>

<table>
  <tr>
    <td>
      <h3><%= link_to "Most popular keywords:", keywords_path %></h3>
      <ul>
        <% @popular_keywords.each do |keyword| %>
          <li><%= keyword[:tag].name %> <span class="stats">(<%= keyword[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Recent keywords:</h3>
      <ul>
        <% @recent_keywords.each do |keyword| %>
          <li><%= keyword.name %></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3><%= link_to "Commonly paired keywords:", paired_keywords_path %></h3>
      <ul>
        <% @paired_keywords.each do |pair| %>
          <li><%= pair[:tag1].name %>, <%= pair[:tag2].name %> <span class="stats">(<%= pair[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Most popular file formats:</h3>
      <ul>
        <% @popular_file_formats.each do |file_format| %>
          <li><%= file_format[:format] %> <span class="stats">(<%= file_format[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular ratings:</h3>
      <ul>
        <% @popular_ratings.each do |rating| %>
          <li><%= rating[:rating] %> <span class="stats">(<%= rating[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular update counts:</h3>
      <ul>
        <% @popular_update_counts.each do |update_count| %>
          <li><%= update_count[:update_count] %> <span class="stats">(<%= update_count[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Most popular apertures:</h3>
      <ul>
        <% @popular_apertures.each do |aperture| %>
          <li><%= aperture[:aperture] %> <span class="stats">(<%= aperture[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular focal lengths:</h3>
      <ul>
        <% @popular_focal_lengths.each do |focal_length| %>
          <li><%= focal_length[:focal_length] %> <span class="stats">(<%= focal_length[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3><%= link_to "Most popular lenses:", lenses_path %></h3>
      <ul>
        <% @popular_lenses.each do |lens| %>
          <li><%= lens[:lens].value %> <span class="stats">(<%= lens[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Most popular isos:</h3>
      <ul>
        <% @popular_isos.each do |iso| %>
          <li><%= iso[:iso] %> <span class="stats">(<%= iso[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular shutterspeeds:</h3>
      <ul>
        <% @popular_shutterspeeds.each do |shutterspeed| %>
          <li><%= shutterspeed[:shutterspeed] %> <span class="stats">(<%= shutterspeed[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular cameras:</h3>
      <ul>
        <% @popular_cameras.each do |camera| %>
          <li><%= camera[:camera].value %> <span class="stats">(<%= camera[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Most popular isos by camera:</h3>
      <ul>
        <% @popular_isos_with_cameras.each do |camera| %>
          <li><%= camera[:camera].value %> - <%= camera[:iso] %> <span class="stats">(<%= camera[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular focal lengths by camera:</h3>
      <ul>
        <% @popular_focal_lengths_with_cameras.each do |camera| %>
          <li><%= camera[:camera].value %> - <%= camera[:focal_length] %> <span class="stats">(<%= camera[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular lenses by camera:</h3>
      <ul>
        <% @popular_lenses_with_cameras.each do |camera| %>
          <li><%= camera[:camera].value %> - <%= camera[:lens].value %> <span class="stats">(<%= camera[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Most popular cropped sizes:</h3>
      <ul>
        <% @popular_crop_sizes.each do |crop_size| %>
          <li><%= crop_size[:width] %> x <%= crop_size[:height] %> <span class="stats">(<%= crop_size[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular development steps:</h3>
      <ul>
        <% @popular_develop_steps.each do |step| %>
          <li><%= step[:develop_step] %> <span class="stats">(<%= step[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>

    <td>
      <h3>Most popular develop steps with adjustments:</h3>
      <ul>
        <% @popular_develop_steps_with_adjustments.each do |step| %>
          <li><%= step[:develop_step] %> <%= step[:adjustment] %> <span class="stats">(<%= step[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Most popular white balances:</h3>
      <ul>
        <% @popular_white_balances.each do |white_balance| %>
          <li><%= white_balance[:white_balance] %> <span class="stats">(<%= white_balance[:frequency] %>)</span></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
